/* BASIC STYLES HERE */
.bg-hero {
  background-image: url("https://images.unsplash.com/photo-1626231431977-1f9f057653b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  object-fit: contain;
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.w-80 {
  width: 85%;
}

.w-20 {
  width: 15%;
}

.text-orange {
  color: rgba(206, 113, 25, 0.89);
}